{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Nombre</td>
			<td>Apellidos</td>
			<td>Cedula</td>
			<td>Fecha Nacimiento</td>
			<td>Sexo</td>
		</tr>
		
	</thead>
	<tbody>
		{%if object_list %}
		{%for egresado in object_list %}
		<tr>
			<td>{{egresado.id}}</td>
			<td>{{egresado.nombre}}</td>
			<td>{{egresado.apellidos}}</td>
			<td>{{egresado.codigo}}</td>
			<td>{{egresado.fecha_nacimiento}}</td>
			<td>{{egresado.sexo.nombre}}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'egresado:egresado_editar' egresado.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'egresado:egresado_eliminar' egresado.id %}">Eliminar</a>
			</td>
		</tr>
		{%endfor%}

		{%else%}
		<h1>No hay registros de Egresados </h1>
		{%endif%}
	</tbody>
</table> 
{% endblock%}